main div h1{
    padding: 20px;
    margin: 0 auto;  /* ボックス中央寄せ */
    text-align: center;  /* テキスト中央寄せ */
}
main div .prof{
    padding-left: 10%;
    font-size: 25px;
}
main div div dl dt{
    float: left;
}
main div div dl dd{
    padding: 0 0 10px 5em;
}
.last{
    padding-bottom: 50px;
}