body, ul, section, li {
    margin: 0%;
    padding: 0%;
}

.container_ {
    margin: 0%;
    padding: 0%;
}

.wrap_ {
    background-color: gainsboro;
    margin: 0%;
    padding: 0%;
}

/*　ヘッダー　*/

header {
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    /* position: relative; */
    background: url(../img/momiji.jpg) center / cover;
    margin-left: auto;
    margin-right: auto;
    /* height: 250px */
}

header .black {
    background-color: rgba(0, 0, 0, 0.4);
    /* height: 250px */
    /* margin-top: 100px; */
}

header .black div div {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 20px 0; */
    padding-left: 7%;
}

.contents {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(240, 248, 255);
}
header div div h1 {
    text-align: center;
    margin: 0;
    margin-left: 100px;
    padding: 10px 0;
    font-size: 90px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.title_ {
    display: flex;
    overflow: hidden;
    color: aliceblue;
    font-family: 'Josefin Sans', sans-serif;
}

.title_ span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title_.-visible span {
    transform: translate(0, 0);
}

.title_ span:nth-child(2) {
    transition-delay: 0.06s;
}

.title_ span:nth-child(3) {
    transition-delay: 0.12s;
}

.title_ span:nth-child(4) {
    transition-delay: 0.18s;
}

.title_ span:nth-child(5) {
    transition-delay: 0.24s;
}

.title_ span:nth-child(6) {
    transition-delay: 0.30s;
}

.title_ span:nth-child(7) {
    transition-delay: 0.36s;
}

.title_ span:nth-child(8) {
    transition-delay: 0.42s;
}

.title_ span:nth-child(9) {
    transition-delay: 0.48s;
}

.title_ span:nth-child(10) {
    transition-delay: 0.54s;
}

.title_ span:nth-child(11) {
    transition-delay: 0.6s;
}

.title_ span:nth-child(12) {
    transition-delay: 0.66s;
}

.title_ span:nth-child(13) {
    transition-delay: 0.72s;
}

.title_ span:nth-child(14) {
    transition-delay: 0.78s;
}

.title_ span:nth-child(15) {
    transition-delay: 0.84s;
}

.title_ span:nth-child(16) {
    transition-delay: 0.90s;
}

.title_ span:nth-child(17) {
    transition-delay: 0.96s;
}

nav {
    /* display: table; */
    /* height: 250px; */
    /* float: right; */
    clear: both;
    /* left: 50%;  */
    /* transform: translateX(-50%); */
}

.menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0%;
    padding: 0%;
    /* display: table-cell;
    vertical-align: middle; */
}

a {
    display: block;
}

.menu li {
    font-size: 20px;
    list-style: none;
    border: 1px solid rgb(255, 255, 255);
    width: 320px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 5px 0;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

/*　フッター　*/

footer {
    background-color: rgb(255, 238, 0);
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    margin: 0%;
    background-color: #808080;
    padding-left: 5%;
}